# VS Code settings
.vscode/
no-scroll/.vscode-test/  # Prevent test VS Code builds from being committed

# Output and build artifacts
out/
dist/
coverage/
*.tsbuildinfo
*.js.map

# Node modules
node_modules/

# Logs and OS junk
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Optional: ignore compiled test output if you're transpiling tests
src/test/**/*.js

# Optional: VSIX packages
*.tgz
